[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short
	a = add
	ap = add -p
	ad = !git add . && git diff --cached
	c = commit
	cm = commit -m
	m = commit --amend
	mg = merge
	rb = rebase
	d = diff
	ds = diff --stat
	dc = diff --cached
	s = status -s
	co = checkout
	cob = checkout -b
	f = fetch --all --tags
	p = pull
	stp = !git stash && git pull && git stash pop
	ph = push
	rv = remote -v
	b = branch --list -a -v
	la = !git config -l | grep alias | cut -c 7-
[user]
	name = Wincent
	email = 3088566+davidwincent@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[merge]
	tool = nvimdiff3
	conflictstyle = diff3
[mergetool]
	prompt = false
[color "diff"]
	whitespace = red reverse

