*
!README.md
!.gitmodules
!.gitconfig
!.gitignore
!.zshrc
!.tmux.conf
!.gitconfig
!.profile
!.zshenv
!.bash_aliases
!.bash_profile
!Justfile
!ssh_pub/
!ssh_pub/id_ed25519.pub
!modules/
!modules/containerd
!.config/
!.config/nvim
!.config/starship.toml
!.tmux/
!.tmux/plugins/
!.tmux/plugins/tpm

