[submodule "modules/containerd"]
	path = modules/containerd
	url = https://github.com/containerd/containerd.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:davidwincent/kickstart.nvim.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
